@import url("./styles.css");

body {
  background: #fff;
}

.card {
  display: flex;
  align-items: center;
  margin: 20px;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.image-card {
  width: 20%;
  max-height: 300px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.description {
  margin: 0 20px;
}
