@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary: #e0d8b0;
  --secondary: #15133c;
  --ternary: #fdf6ec;
  --alternative: #bcead5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary);

  font-family: "Roboto", Impact, sans-serif;
}

ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

/* .container {
  display: flex;
  flex-direction: row;

  background: var(--primary);
}

.icon {
  font-size: 25px;
  margin: 10px 20px;
} */

.navbar {
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  background: var(--secondary);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-size: 18px;
  font-weight: 400;

  transition: 0.6s ease-out;
}

.nav-link:hover {
  color: var(--ternary);
  transition: 0.6s ease-in;
}

.judul {
  font-weight: 800;
  font-size: 30px;
}

body {
  background: var(--secondary);
}

.homepage > h2 {
  font-size: 50px;
  color: var(--primary);

  text-align: center;
  margin: 150px auto;

  /* padding: 0 auto; */

  border: 5px solid var(--primary);
  border-radius: 10px;
  width: 50%;
  transition: 0.5s ease-out;

  cursor: pointer;
}

.homepage > h2:hover {
  color: var(--alternative);
  border: 5px solid var(--alternative);
  transition: 0.5s ease-in;
}

footer {
  position: fixed;
  width: 100%;
  height: 15%;
  bottom: 0;
  background: var(--primary);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  font-size: 20px;
  margin-right: 20px;
}

footer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

footer > p {
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: -10px;
    flex-direction: column;
    background: #fff;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.6s;
    /* box-shadow: 0 27px 10px rgba(0, 0, 0, 0.5); */
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 20px 0;
  }

  .nav-item:hover {
    color: var(--ternary);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .homepage > h2 {
    width: 70%;
  }
}
